<% if @transactions.any? %>
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-format">ID</th>
      <th scope="col" class="text-format">Pokemon Name</th>
      <th scope="col" class="text-format">USD Amount Spent</th>
      <th scope="col" style="color: #e63900; font-weight: bold;">USD Amount Now</th>
      <th scope="col" class="text-format">Button</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <% if transaction.btc_amount * @bitcoin_price > transaction.usd_amount  %>
        <tr class="table-success">
      <% elsif transaction.btc_amount * @bitcoin_price < transaction.usd_amount %>
        <tr class="table-danger">
      <% else %>
        <tr class="table-warning">
      <% end %>
        <th><%= transaction.id %></th>
        <td><%= transaction.pokemon_name_capitalized %></td>
        <td><%= number_to_currency(transaction.usd_amount, precision: 6) %></td>
        <td><%= number_to_currency(transaction.btc_amount * @bitcoin_price, precision: 6) %></td>
        <td><%= button_to 'Sell', pokemons_sale_sell_path, params: { transaction_id: transaction.id, bitcoin_price: @bitcoin_price }, method: :post, class: 'btn btn-block text-format', style: 'background-color: #f6a400; font-weight: bold;', form_class: 'sign-out' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h1 class="carousel">You don't have Pokemons yet...</h1>
<% end %>
