<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <%= form_with url: "/pokemons_sale/sell", method: :post do |form| %>
    <% @transactions.each do |transaction| %>
      <% if transaction == @transactions.first %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
        <%= form.hidden_field :transaction_id, value: transaction.id %>
        <%= form.hidden_field :bitcoin_price, value: @bitcoin_price %>
        <% if transaction.btc_amount * @bitcoin_price > transaction.usd_amount %>
          <div class="carousel-caption d-flex align-items-center flex-column pokemon-appreciation">
        <% elsif transaction.btc_amount * @bitcoin_price < transaction.usd_amount %>
          <div class="carousel-caption d-flex align-items-center flex-column pokemon-depreciation">
        <% else %>
          <div class="carousel-caption d-flex align-items-center flex-column pokemon-neutral">
        <% end %>
            <label class="text-format">Pokemon Name:</label>
            <%= transaction.pokemon_name_capitalized %>
            <label class="text-format">USD Amount Spent:</label>
            <%= number_to_currency(transaction.usd_amount, precision: 6) %>
            <label style="color: #e63900; font-weight: bold;">USD Amount Now:</label>
            <%= number_to_currency(transaction.btc_amount * @bitcoin_price, precision: 6) %>
            <%= form.submit "Sell", class: 'btn btn-block mt-3 text-format', style: 'background-color: #f6a400; font-weight: bold;' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="carousel-indicators">
    <% @transactions.each_with_index do |transaction, index| %>
      <% if transaction == @transactions.first %>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="<%= index %>" class="active" aria-current="true"></button>
      <% else %>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="<%= index %>"></button>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

